## {{ansible_managed}}

{%- set sudo_host_alias_combined = dict() %}
{%- set _ = sudo_host_alias_combined.update(sudo_host_alias) %}
{%- set _ = sudo_host_alias_combined.update(sudo_host_alias_group) %}
{%- set _ = sudo_host_alias_combined.update(sudo_host_alias_host) %}

{%- set sudo_user_alias_combined = dict() %}
{%- set _ = sudo_user_alias_combined.update(sudo_user_alias) %}
{%- set _ = sudo_user_alias_combined.update(sudo_user_alias_group) %}
{%- set _ = sudo_user_alias_combined.update(sudo_user_alias_host) %}

{%- set sudo_cmd_alias_combined = dict() %}
{%- set _ = sudo_cmd_alias_combined.update(sudo_cmd_alias) %}
{%- set _ = sudo_cmd_alias_combined.update(sudo_cmd_alias_group) %}
{%- set _ = sudo_cmd_alias_combined.update(sudo_cmd_alias_host) %}


{% if sudo_defaults_combined %}
# Defaults
{%   for item in sudo_defaults_combined %}
Defaults {{ item }}
{%   endfor %}
{% endif %}

{% if sudo_host_alias_combined %}
# Host aliases
{%   for alias, values in sudo_host_alias_combined.iteritems() %}
Host_Alias {{ alias }} = {{ values | join(', ') }}
{%   endfor %}
{% endif %}

{% if sudo_user_alias_combined %}
# User aliases
{%   for alias, values in sudo_user_alias_combined.iteritems() %}
User_Alias {{ alias }} = {{ values | join(', ') }}
{%   endfor %}
{% endif %}

{% if sudo_cmd_alias_combined %}
# Command aliases
{%   for alias, values in sudo_cmd_alias_combined.iteritems() %}
Cmnd_Alias {{ alias }} = {{ values | join(', ') }}
{%   endfor %}
{% endif %}

{% if sudo_users_combined %}
# Users and groups
{%   for item in sudo_users_combined %}
{%     for user, options in item.iteritems() %}
{{ user }} {{ options.host }} ={{ ' ' }}
{%-      if options.runas %}({{ options.runas }}){{ ' ' }}{% endif %}
{%-      if options.tag %}{{ options.tag | join(':') }}:{{ ' ' }}{% endif %}
{%      if options.cmd is string %}
{{ options.cmd }}
{% else %}
{{ options.cmd | join(', ') }}
{% endif %}
{%     endfor %}
{%   endfor %}
{% endif %}

{% if sudo_include %}
# File includes
{% for item in sudo_include %}
#include {{ item }}
{% endfor %}
{% endif %}

{% if sudo_includedir %}
# Directory includes
{% for item in sudo_includedir %}
#includedir {{ item }}
{% endfor %}
{% endif %}
